[Desktop Entry]
Type=Application
Name=InLook
GenericName=Email Viewer
Comment=Fast viewer for .eml and Outlook .msg email files — Free Software from Struis ICT
Exec=inlook %f
Icon=inlook
Terminal=false
Categories=Network;Email;Office;
MimeType=message/rfc822;application/x-eml;application/vnd.ms-outlook;
StartupNotify=true
Keywords=email;eml;msg;oft;outlook;mail;message;viewer;
